<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="group1">
            <file>./tests/test-plugin-bootstrap.php</file>
            <file>./tests/test-admin-settings.php</file>
            <file>./tests/test-cron.php</file>
            <file>./tests/test-email-parsing.php</file>
            <file>./tests/test-encryption.php</file>
            <file>./tests/test-imap-connection.php</file>
            <file>./tests/test-imap-parser.php</file>
            <file>./tests/test-admin-deps.php</file>
            <file>./tests/test-diagnose-error-alert.php</file>
            <file>./tests/test-admin-enqueue-ids.php</file>
        </testsuite>
        <testsuite name="group2">
            <file>./tests/test-field-rendering.php</file>
            <file>./tests/test-processor-extended.php</file>
            <file>./tests/test-processor.php</file>
            <file>./tests/test-sanitization.php</file>
            <file>./tests/test-settings-validation-feedback.php</file>
            <file>./tests/test-settings.php</file>
            <file>./tests/test-reprocess.php</file>
            <file>./tests/test-reprocess-feedback.php</file>
            <file>./tests/test-check-now-feedback.php</file>
            <file>./tests/test-notify-webmaster-result.php</file>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_TESTS_CONFIG_FILE_PATH" value="tests/wp-tests-config.php" />
    </php>
</phpunit>
